<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${'Username: ' + user.getUsername()}">VALUE</p>
<p th:text="${'Password: ' + user.getPassword()}">VALUE</p>
<p th:text="${'Role: ' + user.getRoles()}">VALUE</p>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Delete!"/>
</form>

</body>
</html>