<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>User page</title>
</head>

<header>
    <!--Верхний бар/-->
    <nav class="navbar navbar-dark bg-dark p-0 shadow">
        <div class="nav-item text-left text-white px-3">

            <!--Имя + Роль вошедшего-->
            <span class="fw-bold " th:text="${admin.username}"></span>
            <span>with roles:</span>
            <span th:each="role : ${admin.authorities}"
                  th:text="${#strings.substring(role.getAuthority(), 5)} + ' '">
            </span>
        </div>

        <!--Logout-->
        <ul class="navbar-nav mr-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>

<!--Левый бар-->
<div class="container-fluid mt-3 ">
    <div class="row">
        <div class="col-md-2 px-0">
            <div class="d-flex flex-column flex-shrink-0 p-0 text-white">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a aria-current="true" class="nav-link active no-refresh" data-toggle="pill" href="#admin-panel"
                           role="tab">
                            Admin</a>
                    </li>
                    <li class="nav-item">
                        <a aria-current="false" class="nav-link no-refresh" data-toggle="pill" href="#user-panel"
                           role="tab">
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!--  All users/New user -->
        <div class="col-md-10 bg-light">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="admin-panel" role="tabpanel">
                    <div class="container-fluid">
                        <h2>Admin panel</h2>
                        <ul class="nav nav-tabs border-bottom-0">
                            <li class="nav-item">
                                <a aria-current="true" class="nav-link active no-refresh" data-toggle="tab"
                                   href="#users-table" id="show-users-table" role="tab">
                                    Users Table</a>
                            </li>
                            <li>
                                <a aria-current="false" class="nav-link no-refresh" data-toggle="tab"
                                   href="#new_user-form" id="show-new-user-form" role="tab">
                                    New User</a>
                            </li>
                        </ul>

                        <!-- All users -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="users-table">
                                <div class="card">
                                    <div class="container-fluid px-0 bg-light border t">
                                        <h5 class="card-header">
                                            All users</h5>
                                    </div>

                                    <div class="container-fluid mt-4">
                                        <div class="table-responsive">
                                            <table class="table table-striped bg-white">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Role</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="user : ${users}">
                                                    <td th:text="${user.id}">Id</td>
                                                    <td th:text="${user.username}">Name</td>
                                                    <td th:text="${user.email}">Email</td>
                                                    <td>
                                            <span th:each="role : ${user.authorities}"
                                                  th:text="${#strings.substring(role.getAuthority(), 5)} + ' '">
                                                </span>
                                                    </td>

                                                    <td>
                                                        <button class="btn btn-info btn-sm text-white"
                                                                data-toggle="modal"
                                                                th:attr="data-target=${'#editModal'+ user.id}">
                                                            Edit
                                                        </button>

                                                        <!-- Edit -->
                                                        <div aria-hidden="true" aria-labelledby="editModalLabel"
                                                             class="modal fade"
                                                             role="dialog" tabindex="-1"
                                                             th:id="'editModal' + ${user.id}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editModalLabel">Edit
                                                                            User</h5>
                                                                        <button aria-label="Close" class="close"
                                                                                data-dismiss="modal"
                                                                                type="button">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form th:action="@{'/admin/updateuser?id=' + ${user.getId()}}"
                                                                              th:method="POST"
                                                                              th:object="${user}">
                                                                            <div class="mb-3">
                                                                                <label class="form-label"
                                                                                       for="id">ID</label>
                                                                                <input class="form-control" id="id"
                                                                                       placeholder="id"
                                                                                       readonly="readonly"
                                                                                       th:name="id"
                                                                                       th:value="${user.id}"
                                                                                       type="text"/>
                                                                            </div>
                                                                            <br>
                                                                            <div class="mb-3">
                                                                                <label class="form-label"
                                                                                       for="username">Name</label>
                                                                                <input class="form-control"
                                                                                       id="username"
                                                                                       placeholder="Введите имя"
                                                                                       th:name="username"
                                                                                       th:value="${user.username}"
                                                                                       type="text"><br>


                                                                                <label class="form-label" for="email">Email</label>
                                                                                <input class="form-control"
                                                                                       id="email"
                                                                                       placeholder="Введите Email"
                                                                                       th:name="email"
                                                                                       th:value="${user.email}"
                                                                                       type="email"><br>

                                                                                <label class="form-label"
                                                                                       for="password">Password</label>
                                                                                <input class="form-control"
                                                                                       id="password"
                                                                                       placeholder="Введите пароль"
                                                                                       th:name="password"
                                                                                       th:value="${user.password}"
                                                                                       type="password"><br>

                                                                            </div>

                                                                            <div class="mb-3">
                                                                                <label for="role">Role</label>
                                                                                <br>
                                                                                <select id="role" multiple="multiple"
                                                                                        name="role" size="2">
                                                                                    <option value="ROLE_USER">USER
                                                                                    </option>
                                                                                    <option value="ROLE_ADMIN">ADMIN
                                                                                    </option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="modal-footer">
                                                                                <button class="btn btn-secondary"
                                                                                        data-dismiss="modal"
                                                                                        type="button">Close
                                                                                </button>
                                                                                <button class="btn btn-primary"
                                                                                        type="submit">Edit
                                                                                </button>
                                                                            </div>

                                                                        </form>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>

                                                    <td>
                                                        <button class="btn btn-danger btn-sm" data-toggle="modal"
                                                                th:data-target="${'#deleteModal'+ user.id}">
                                                            Delete
                                                        </button>

                                                        <!-- Delete -->
                                                        <div aria-hidden="true" aria-labelledby="delete"
                                                             class="modal fade"
                                                             tabindex="-1" th:id="${'deleteModal'+ user.id}">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="deleteModalLabel">
                                                                            Edit User</h5>
                                                                        <button aria-label="Close" class="close"
                                                                                data-dismiss="modal"
                                                                                type="button">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="card-body text-center">
                                                                        <form th:action="@{'/admin/deleteuser?id=' + ${user.getId()}}"
                                                                              th:method="POST"
                                                                              th:object="${user}">

                                                                            <div class="modal-body col-7 mx-auto text-center">
                                                                                <label class="form-label fw-bold mb-0"
                                                                                       for="idDelete">ID</label>
                                                                                <input class="form-control"
                                                                                       id="idDelete"
                                                                                       name="id"
                                                                                       readonly
                                                                                       th:value="${user.id}"
                                                                                       type="text">
                                                                                <br>
                                                                                <label class="form-label fw-bold mb-0"
                                                                                       for="usernameDelete">Email</label>
                                                                                <input class="form-control"
                                                                                       id="usernameDelete"
                                                                                       readonly
                                                                                       th:value="${user.username}"
                                                                                       type="text">
                                                                                <br>
                                                                                <label class="form-label fw-bold mb-0"
                                                                                       for="emailDelete">Email</label>
                                                                                <input class="form-control"
                                                                                       id="emailDelete"
                                                                                       readonly
                                                                                       th:value="${user.email}"
                                                                                       type="text">
                                                                                <br>
                                                                                <label class="form-label fw-bold mb-0"
                                                                                       for="rolesDelete">Role</label>
                                                                                <br>
                                                                                <select class="form-select"
                                                                                        disabled id="rolesDelete"
                                                                                        multiple="multiple" size="2">
                                                                                    <option th:each="role : ${user.authorities}"
                                                                                            th:text="${#strings.substring(role.getAuthority(), 5)} + ' '">
                                                                                    </option>
                                                                                </select>
                                                                                <br>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button class="btn btn-secondary"
                                                                                        data-dismiss="modal"
                                                                                        type="button">Close
                                                                                </button>
                                                                                <input class="btn btn-danger btn-sm"
                                                                                       type="submit"
                                                                                       value="Delete">
                                                                            </div>

                                                                        </form>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- New user -->
                            <div class="tab-pane fade" id="new_user-form" role="form">
                                <div class="card">
                                    <div class="container-fluid px-0">
                                        <h5 class="card-header">
                                            Add new user</h5>
                                    </div>
                                    <div class="card-body col-5 mx-auto text-center mt-3">
                                        <form th:action="@{/admin/createuser}" th:method="POST" th:object="${admin}">
                                            <label class="form-label fw-bold mb-0" for="NameCreate">Username</label>
                                            <input class="form-control" id="NameCreate" placeholder="Name"
                                                   th:name="username" type="text">

                                            <br>
                                            <label class="form-label fw-bold mb-0" for="emailCreate">Email</label>
                                            <input class="form-control" id="emailCreate" placeholder="Email"
                                                   th:name="email"
                                                   type="text">
                                            <br>
                                            <label class="form-label fw-bold mb-0" for="passwordCreate">Password</label>
                                            <input class="form-control" id="passwordCreate" placeholder="Password"
                                                   th:name="password"
                                                   type="text">
                                            <br>
                                            <div class="mb-3">
                                                <label for="roleCreate">Role</label>
                                                <br>
                                                <select id="roleCreate" multiple="multiple" name="role" size="2">
                                                    <option selected value="ROLE_USER">USER
                                                    </option>
                                                    <option value="ROLE_ADMIN">ADMIN
                                                    </option>
                                                </select>
                                            </div>

                                            <br>
                                            <div>
                                                <button class="btn btn-success" type="submit">Add new user</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="user-panel" role="tabpanel">
                    <div class="container-fluid">
                        <h2>User information-page</h2>
                        <div class="card">
                            <div class="container-fluid px-0 bg-light border">
                                <h5 class="card-header">
                                    About user</h5>
                            </div>

                            <div class="container-fluid mt-4">
                                <div class="table-responsive">
                                    <table class="table table-striped bg-white">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${admin != null}">
                                            <td th:text="${admin.id}">Id</td>
                                            <td th:text="${admin.username}">Name</td>
                                            <td th:text="${admin.email}">Email</td>
                                            <td>
                                            <span th:each="role : ${admin.authorities}"
                                                  th:text="${#strings.substring(role.getAuthority(), 5)} + ' '">
                                            </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>